<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Sample</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app-3">
      <!--app3.seen = false; 하면 안 보인다.-->
        <p v-if="seen">이제 나를 볼 수 있어요</p>
      </div>
    </div>
    <script>
var app3 = new Vue({
  el: '#app-3',
  data: {
    seen: true
  }
})
    </script>
  </body>
</html>

